In [9]:
salaries = [1200,12,100]
for salary in salaries:
    salary = "{:12,.2f}".format(salary)
    print(salary)

    1,200.00
       12.00
      100.00

In [21]:
n = int(input("Rows:"))
for i in range(1, n+1 ):
    for j in range(1, i+1):
        print(j,end="")
    print()

Rows: 4

1
12
123
1234

In [26]:
number = int(70)
number //=10
print(number)

7